
    body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 650px;
    width: 100%;
}

h1 {
    color: #0056b3; /* Green color for business feel */
    border-bottom: 2px solid #0056b3;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-top: 25px;
    margin-bottom: 15px;
}

p {
    color: #666;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input,
input[type="number"],
input[type="date"],
input[type="file"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
    font-size: 16px;
}

input:focus, select:focus {
    border-color: #0056b3;
    outline: none;
}

button {
    background-color: #0056b3;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
    box-shadow: 2px 8px 20px rgba(239, 100, 50, 0.25);
}

button:hover {
    background-color: #0056b3;
}

.section-block {
    border-top: 1px solid #eee;
    padding-top: 20px;
}
.top-back-btn {
    position: fixed;
    top: 14px;
    left: 14px;
    background: blue;
    color: white;
    padding: 9px 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 16px rgba(0,0,0,0.20);
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s;
    z-index: 999;
    width: 80px;
}
.star{
    color: red;
    font-size:20px;
    margin-left: 2px;
}

    