
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background: #fff9e6;
}
.apply-btn-main {
      background: blue;
      color:white;
      border:none;
      padding:12px 22px;
      border-radius:10px;
      font-size:16px;
      cursor:pointer;
      margin-top:15px;
      transition: .3s;
      box-shadow: 0 8px 20px rgba(255, 107, 53, 0.25);
    }
    .apply-btn-main:hover{
      background: blue;
    }


/* PAGE CONTAINER */
.page {
  max-width: 1050px;
  margin: 40px auto;
  padding: 20px;
}

/* BACK BUTTON */
.back-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  background: blue;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

/* CARD */
.card {
  background: white;
  border-radius: 14px;
  padding: 30px;
  box-shadow: 0 8px 26px rgba(0,0,0,0.07);
}

/* RIGHT SIDE IMAGE CARD */
.right-box {
  width: 280px;
  background: #fff4b8;
  padding: 12px;
  border-radius: 14px;
  text-align: center;
  height: 300px;
}

/* GOLD IMAGE */
.right-box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 14px;
}

/* APPLY BUTTON */
.apply-btn {
  background: blue;
  color: white;
  padding: 12px 22px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 25px;
  box-shadow: 0 8px 20px rgba(255, 107, 53, 0.25);
}

/* FLEX FOR DETAILS PAGE */
.flex-box {
  display: flex;
  gap: 40px;
}

/* STEPS BOX */
.step-box {
  background: #eef7ff;
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.step-num {
  width: 35px;
  height: 35px;
  background: blue;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  box-shadow: 2px 2px 2px rgb(240, 119, 139);
}
.form-section { display: none; }

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 18px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: 6px;
}

input, textarea, select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
}

textarea { height: 120px; }

/* SUBMIT BUTTON */
.submit-btn {
  background: blue;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}

.submit-btn:hover {
  background: rgb(5, 5, 192);
}
.star{
 color: red;
 font-size:20px;
 margin-left: 2px;
}